<div *ngIf="!film; else divFilm">
  <mat-spinner></mat-spinner>
</div>

<ng-template #divFilm>

  <div class="container--detail">
    <div>
      <h1>{{ film.title }} <small>Episode: {{ film.episode_id }}</small></h1>
      <mat-divider></mat-divider>
      <br>
      <img mat-card-image [src]="film | image">
    </div>

    <div>
      <h1>Characters</h1>
      <mat-divider></mat-divider>
      <br>
      <ul>
        <li *ngFor="let character of characters">{{character | reverse }}</li>
      </ul>
    </div>

    <div>
      <h1>Planets</h1>
      <mat-divider></mat-divider>
      <br>
      <ul>
        <li *ngFor="let planet of planets">{{planet}}</li>
      </ul>
    </div>

    <div>
      <h1>Starships</h1>
      <mat-divider></mat-divider>
      <br>
      <ul>
        <li *ngFor="let starship of starships">{{starship}}</li>
      </ul>
    </div>

    <button routerLink="/films" mat-button color="warn">Go back</button>
  </div>

</ng-template>

